appdirs
attrs
beautifulsoup4
chardet
colorama
envelope>=1.5.3
ezodf
humanize
ipdb
jinja2
jsonpickle>1.4
lxml
netaddr
openpyxl
pint
prompt_toolkit
py3-validate-email>=1.0.0
pygments
python-dateutil
pythondialog
requests
tabulate
xlrd
tldextract