ezodf
xlrd
jinja2
colorama
pint<0.10
chardet
envelope>=1.2.7
python-dateutil
requests
netaddr
jsonpickle
ipdb
pythondialog
py3-validate-email
tabulate
appdirs
humanize
beautifulsoup4
prompt_toolkit>=2,<3
pygments
lxml